body, html{
    font-family: 'Hind', sans-serif;
    color: black;
    background: #939393;
    margin: 0px;
}
main{
    padding: 50px;
}
header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: rgb(213, 93, 72);
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.44);
    text-transform: uppercase;
}
nav{
    flex-basis: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul{    
    padding: 0px;
}
li{
    list-style: none;
    display: inline-block;
    margin: 10px;
}
ul.info-list{
    margin-bottom: 50px;
}
ul.info-list li {
    display: block;
}
a{
    text-decoration: none;
    color: white;
    letter-spacing: 1.5px;
    font-size: 1.1em;
}
a:hover{
    color: #292929;
    transition: color .3s ease-in-out;
}
a.active{
    color: #292929;
    border-bottom: 5px solid white;
}
.fa-info-circle, .fa-github{
    font-size: 1.5em;
}
main{
    max-width: 850px;
    margin: auto;
}
h1, h2, h3, h4, h5, h6{
    text-align: left;
    letter-spacing: 1.5px;
    margin: 0px;
    font-weight: 700;
    text-transform: uppercase;
}
h1{
    flex-basis: 10%;    
    margin: 20px;
    border-bottom: 7px solid white;
    color: #292929;
}
h6, h3{
    text-align: center;
    color: #292929;
    padding: 10px;
    font-size: 1.5em;
}
h5.sub-title{
    font-weight: 700;
    font-size: 1.2em;
}
.post-wrapper{
    background: #dfdfdf;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.44);
}
article{
    line-height: 1.7;
    max-width: 700px;
    padding: 50px;
    margin: auto;
    letter-spacing: 1.5px;
}
article a{
    color: rgb(213, 93, 72);
    font-weight: 700;
}
article a:hover{
    color: #292929;
    transition: color .3s ease-in-out;
}
p{
    margin-top: 0px;
}
p:not(:last-child){
    margin-bottom: 50px;
}
span{
    font-size: 1.1em;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(62, 62, 62);
}
ul.post-list{
    padding: 0px;
    margin: 0px;
    margin-bottom: 50px;
}
li.post-list i{
    color: rgb(213, 93, 72);
}
.date-wrapper{
    background: rgb(163, 206, 196);
}
.title-wrapper{
    background: rgb(213, 93, 72);

}
.title-wrapper i {
    color: white;
}